.select {
  width: 100%;
}

.col {
  display: flex;
  justify-content: end;
}

.snapshot {
  background-color: rgba(0, 185, 107, 0.1);
}

.snapshot_not {
  background-color: rgba(248, 7, 7, 0.1);
}

.image {
  width: 200px;
  height: 200px;
}
